{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Hotels{% endblock %}

{% block content %}
  <div class="card">
    <h1>Hotels</h1>

    {% if q %}
      <p><b>Search:</b> "{{ q }}"</p>
    {% endif %}

    {% if hotels %}
      <ul class="list-group">
        {% for h in hotels %}
          <li class="list-group-item">
            <a href="/hotels/{{ h.pk }}/"><b>{{ h.name }}</b></a><br>
            <small>{{ h.address }}</small>
          </li>
        {% endfor %}
      </ul>

      {% bootstrap_pagination page_obj url=last_q %}

    {% else %}
      {% if q %}
        <p>No hotels found for your query.</p>
      {% else %}
        <p>No hotels yet. Add them in <a href="/admin/">admin</a>.</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}